# Get the number of instances & features of each dataset in benchmark datasets

In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
# import matplotlib.pyplot as plt
# %matplotlib inline
# import seaborn as sns

In [11]:
DATASET = [
    "banana",
    "breast_cancer",
    "diabetis",
    "flare_solar",
    "german",
    "heart",
    "image",
    "ringnorm",
    "splice",
    "thyroid",
    "titanic",
    "twonorm",
    "waveform",
]
PATH = "~/Documents/Datasets/benchmarks"

In [12]:
size = list()
feat = list()
for dataset in DATASET:
    file = f"{PATH}/{dataset}.csv"
    df = pd.read_csv(file)

    size.append(df.shape[0])
    feat.append(df.shape[1])

data = {
    "Size": size,
    "Feature": feat,
}
df = pd.DataFrame(data=data, index=DATASET)

In [13]:
OUT_FILE = "./benchmark_summary.csv"
df.to_csv(OUT_FILE, index_label="Dataset")

In [14]:
df = pd.read_csv(OUT_FILE, index_col="Dataset")
df

               Size  Feature
Dataset
banana         5300        3
breast_cancer   263       10
diabetis        768        9
flare_solar     144       10
german         1000       21
heart           270       14
image          2086       19
ringnorm       7400       21
splice         2991       61
thyroid         215        6
titanic          24        4
twonorm        7400       21
waveform       5000       22